<html>
<head>
	<title></title>
</head>
<script type="text/javascript">
	$(document).ready({
		$("#status").load("statusPie");
		$("#mapOld").load("mapOldDta");
		$("#oldData").load("oldData");
		$("#mostVisited").load("mostVisited");
	});
	
</script>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6" id="status"></div>
			<div class="col-md-6" id="mapOld"></div>
		<div>
		<div class="row">
			<div class="col-md-6" id="oldData"></div>
			<div class="col-md-6" id="mostVisited"></div>
		<div>
				
	</div>	

</body>
</html>