

    <title>Old Data Map</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->

<style type="text/css">

input{

    max-width: 20%;
}
</style>

<div class="container-fluid">
    <div class="row form-group"align="middle">
        
       
            <h1 class="page-header fontColor">Map for Old Data</h1>

            <input type="text" id="datePicked" placeholder="Select a Date" class="form-control" align="middle">

            <div style="height: 70px;"> </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3" align ="middle">  
            <div id="container"></div>


            </div>
        </div>

       
    </div>
</div>

<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>



<script>
function drawChart(fetchedData) {

    // Prepare demo data
   
    data = [];

    for(elem=0;elem<fetchedData.length;elem++){
            temp = {};
            if( fetchedData[elem]._id.country.indexOf('United') >= 0){
              fetchedData[elem]._id.country = "United States of America";
            }
            if( fetchedData[elem]._id.country.indexOf('Russia') >= 0){ 
              fetchedData[elem]._id.country = "Russia";
            }
            if( fetchedData[elem]._id.country.indexOf('Green') >= 0){
              fetchedData[elem]._id.country = "Russia";
            }

            temp['name'] = fetchedData[elem]._id.country;
            temp['value'] = fetchedData[elem].count;

            data.push(temp);
            
        }

    // Initiate the chart
    $('#container').highcharts('Map', {

        title : {
            text : 'Visitors By Country',
             style: {
                     color: '#0000',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
        },

        colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                    'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
                    dataClasses: [{
                        to: 3
                    }, {
                        from: 3,
                        to: 10
                    }, {
                        from: 10,
                        to: 30
                    }, {
                        from: 30,
                        to: 100
                    }, {
                        from: 100,
                        to: 300
                    }, {
                        from: 300,
                        to: 1000
                    }, {
                        from: 1000
                    }]
                },

        series : [{
            data : data,
            colorByPoint: true,
            mapData: Highcharts.maps['custom/world'],
            joinBy: 'name',
            name: 'Visitors ',
            states: {
                hover: {
                    color: '#BADA55'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }]
    });
}


    $(document).ready(function () {
        function displayMostVisitedPages(dateString) {
            //$(".mostVisitedPages").show();
            var url = "/groupByCountry/" + dateString;
            $.get(url).done(function (data) {

                console.log(data);
                drawChart(data);

            });
        }


        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();
</script>

