<title>Most Visited Sites</title>
<style type="text/css">
.wrapper {
  display: table;
  width: 100%;
}

.element {
  display: table-cell;
  width: 50%;
}

#container{width:100% !important; height:100% !important;}

.bg{

    background: radial-gradient(ellipse at center, #1c474e 0%, #0e1d20 100%);
}

input{

    max-width: 20%;
}

.borderHeader{

    background-color: #333333;
}
</style>
<div class="wrapper bg">
   <!--  <div class="row">

      
            <h1 class="page-header">Most Visited</h1>

            <input type="text" id="datePicked">
            <div class="container">
            <div class="row element">
            <div id="container" style="min-width: 310px; max-width: 800px; height: 400px;"></div>

            </div>
        </div>

     
    </div>
</div> -->
<div class="row form-group" align="middle">
                 <h3 class="box-title fontColor">Most Visited Sites</h3>
            <input type="text" id="datePicked" class="form-control" align="middle">
            </div>
            <div style="height: 100px;"> </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3" align ="middle">  
        <!-- <div class="box box-info">  -->          
           <!--  <div class="box-header borderHeader"> 
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div> -->

            <div class="box-body bg">
              <div class="chart">
                <div id="container" class="container-fluid" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
              </div>
            </div>
            <!-- /.box-body -->
        <!-- </div> -->
    </div>
          </div>
</div>
<script>


    function drawChart(data) {
        pages=[];
        hits=[];
        for(elem=0;elem<data.length;elem++){
            pages.push(data[elem]._id.path);

            hits.push(data[elem].count);
            
        }

      
            $('#container').highcharts({
                chart: {
                    type: 'column',
            zoomType: 'xy',
            backgroundColor: 'rgba(0,0,0,0.5)'
                },
                title: {
                    style: {
                     color: '#FFFFFF',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                },
                    text: 'Most Visited Website Pages'
                },
                xAxis: {
                    categories:pages,
                    title: {
                        text: null
                    },
                    labels:{
                         style: {
                     color: '#FFFFFF',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
                    }

                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Hits',
                        align: 'high',
                         style: {
                     color: '#FFFFFF',
                    font: ' 16px "Trebuchet MS", Verdana, sans-serif'
                }
                    },
                    labels: {
                        overflow: 'justify',
                         style: {
                     color: '#FFFFFF',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true

                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Hits',
                    data: hits

                }]
            });
            
        
    };

    $(document).ready(function () {
        function displayMostVisitedPages(dateString) {
            //$(".mostVisitedPages").show();
            var url = "/mostVisitedPage/" + dateString;
            $.get(url).done(function (data) {

                console.log(data);
                drawChart(data);

            });
        }

        // Setup

$('#container').css('width', '690px');
$(window).trigger("resize");

// Teardown

$('#container').css('width', '');
$(window).trigger("resize");


        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();
</script>


