<title>Old Data</title>
<style type="text/css">

input{

    max-width: 20%;
}

.bg{

    background: radial-gradient(ellipse at center, #1c474e 0%, #0e1d20 100%);
}
</style>
<div class="container-fluid content-wrapper bg">
    <div class="row form-group" align="middle">
        
        <div class="main ">
            <h1 class="page-header fontColor">Old Data</h1>

            <input class="form-control datelength" type="text" id="datePicked"  >

            <div style="height: 70px;"> </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3" align ="middle">  
                <div class="mostVisitedPages table-responsive " style="display: none">
                    <h4 class="fontColor">Most visited pages</h4>
                    <table class="table table-hover" id="oldDataTable">
                        <thead>
                        <tr>
                            <th class="fontColor">#</th>
                            <th class="fontColor">Page</th>
                            <th class="fontColor">Count</th>
                        </tr>
                        </thead>
                        <tbody id="mostVisitedtbody">


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        function displayMostVisitedPages(dateString) {
            $(".mostVisitedPages").show();
            var url = "/mostVisitedPage/" + dateString;
            $.get(url).done(function (data) {
                $("#mostVisitedtbody").html("");
                var row = '<tr><th scope="row">placeholder_for_i</th><td>placeholder_for_first_field</td><td>placeholder_for_second_field</td></tr>';
                for (var i = 0; i < data.length; i++) {
                    $("#mostVisitedtbody").append(row.replace("placeholder_for_i", i+1).replace("placeholder_for_first_field", data[i]._id.path).replace("placeholder_for_second_field", data[i].count));
                }
                $('#oldDataTable').DataTable();
            });
        }

        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();
</script>


