<title>Old Data</title>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Old Data</h1>

            <input type="text" id="datePicked">

            <div class="row">
                <div class="mostVisitedPages" style="display: none">
                    <h4>Most visited pages</h4>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Page</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody id="mostVisitedtbody">


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        function displayMostVisitedPages(dateString) {
            $(".mostVisitedPages").show();
            var url = "/mostVisitedPage/" + dateString;
            $.get(url).done(function (data) {
                $("#mostVisitedtbody").html("");
                var row = '<tr><th scope="row">placeholder_for_i</th><td>placeholder_for_first_field</td><td>placeholder_for_second_field</td></tr>';
                for (var i = 0; i < data.length; i++) {
                    $("#mostVisitedtbody").append(row.replace("placeholder_for_i", i+1).replace("placeholder_for_first_field", data[i]._id.path).replace("placeholder_for_second_field", data[i].count));
                }
            });
        }

        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();
</script>


