<title>Old Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
input{

    max-width: 20%;
}

.tableFormat{

    border-style: white;
    background-color: rgba(0,0,0,0.5);

}

.tableFormat td{
    color: #0000;
}

.dataTables_info,.dataTables_length,.dataTables_filter{
    color:white !important;
}
.dataTables_length label select{
    color:black;
}
.dataTables_filter label input{
    color:black;
}
.paginate_button{
    color:white !important;
}
</style>
<div class="container-fluid">
    <div class="row form-group" align="middle">
        
        
            <h1 class="page-header fontColor">Historical Data Table</h1>

            <input class="form-control datelength" placeholder="Select a Date" type="text" id="datePicked"  >

            <div style="height: 70px;"> </div>
       
    </div>  
    <div class="row">
        <div class="col-md-6  mostVisitedPages  tableFormat " style="display: none;">
                
            <h4 style="color: white;">Most visited pages</h4>
                    <table class="table table-responsive" id="oldDataTable">
                        <thead>
                        <tr>
                            <th style="color: white;">#</th>
                            <th style="color: white;">Page</th>
                            <th style="color: white;">Count</th>
                        </tr>
                        </thead>
                        <tbody id="mostVisitedtbody">


                        </tbody>
                    </table>
        </div>
        <div class="col-md-6">
            
            <div id="chartContainer1" style=" width:80%; height:100%" ></div>
         </div>
     </div>
</div>

<script>
    $(document).ready(function () {
       function displayMostVisitedPages(dateString) {
            $(".mostVisitedPages").show();
            var url = "/mostVisitedPage/" + dateString;
            $.get(url).done(function (data) {
                $("#mostVisitedtbody").html("");
                var row = '<tr><th scope="row">placeholder_for_i</th><td>placeholder_for_first_field</td><td>placeholder_for_second_field</td></tr>';
                for (var i = 0; i < data.length; i++) {
                    $("#mostVisitedtbody").append(row.replace("placeholder_for_i", i+1).replace("placeholder_for_first_field", data[i]._id.path).replace("placeholder_for_second_field", data[i].count));
                }
                $('#oldDataTable').DataTable();
            });
        }

        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                /*
                 make a call to mapDataOldData API of get the count for lat-long for selected date
                 */
                var url = "/mapDataOldData/" + dateStringForApi;
                var latarr = new Array();
                var lngarr = new Array();
                var countarr = new Array();
                var lat = "";
                var lng = "";
                var count = "";
                $.get(url).done(function (data) {
                    for (i = 0; i < data.length; i++) {
                        lat = data[i]["_id"]["lat"];
                        lng = data[i]["_id"]["lng"];
                        count = data[i]["count"];
                        console.log(i + "   lat:  " + lat + "  lng:  " + lng + "   count:  " + count);
                        latarr.push(lat);
                        lngarr.push(lng);
                        countarr.push(count);
                    }
                    drawchart(latarr, lngarr, countarr, dateStringForApi);
                    var url = "/mapDataOldDataPieChart/" + dateStringForApi;
                    var statusarray = new Array();
                    var statuscountarray = new Array();
                    var status = "";
                    var statuscount = "";
                    $.get(url).done(function (data) {
                       // console.log(data);
                        for (i = 0; i < data.length; i++) {
                            status = data[i]["_id"]["status"];
                            statuscount = data[i]["count"];
                            console.log(i + "   status:  " + status + "  statuscount:  " + statuscount);
                            statusarray.push(status);
                            statuscountarray.push(statuscount);
                        }
                       // drawPieChart(statusarray,statuscountarray,dateStringForApi);
                    });
                });


                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    /**
     * Function that draws the basic  chart
     * @param latarr
     * @param lngarr
     * @param countarr
     * @param dateStringForApi
     */
    var drawchart = function (latarr, lngarr, countarr, dateStringForApi) {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];

        var year = dateStringForApi.substring(0, 4);
        var month = parseInt(dateStringForApi.substring(4, 6), 10) - 1;

        var date = dateStringForApi.substring(6, 8);
        var chart = new CanvasJS.Chart("chartContainer1", {
            theme: "theme2",//theme1
            title: {
                text: "Latitude and Longitude count for " + date + " " + monthNames[month] + " " + year
            },
            animationEnabled: true,   // change to true
            data: [
                {
                    // Change type to "bar", "area", "spline", "pie",etc.
                    type: "column",
                    dataPoints: [
                        {label: latarr[0] + " " + lngarr[0], y: countarr[0]},
                        {label: latarr[1] + " " + lngarr[1], y: countarr[1]},
                        {label: latarr[2] + " " + lngarr[2], y: countarr[2]},
                        {label: latarr[3] + " " + lngarr[3], y: countarr[3]},
                        {label: latarr[4] + " " + lngarr[4], y: countarr[4]}
                    ]
                }
            ],
            tooltips: {
                backgroundColor: 'rgba(0,0,0,0.5)' 
            }
        });
        chart.render();
    }

/*
    var drawPieChart = function(statusarray,statuscountarray,dateStringForApi){
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];

        var year = dateStringForApi.substring(0, 4);
        var month = parseInt(dateStringForApi.substring(4, 6), 10) - 1;

        var date = dateStringForApi.substring(6, 8);
        var chart = new CanvasJS.Chart("chartContainer2",
                {
                    title:{
                        text: "Pie chart for  " + date + " " + monthNames[month] + " " + year
                    },
                    animationEnabled: true,
                    legend:{
                        verticalAlign: "bottom",
                        horizontalAlign: "center"
                    },
                    data: [
                        {
                            indexLabelFontSize: 20,
                            indexLabelFontFamily: "Monospace",
                            indexLabelFontColor: "darkgrey",
                            indexLabelLineColor: "darkgrey",
                            indexLabelPlacement: "outside",
                            type: "pie",
                            showInLegend: true,
                            toolTipContent: "{y} - <strong>#percent%</strong>",
                            dataPoints: [
                                {  y: statuscountarray[0], legendText:statusarray[0], indexLabel: statusarray[0] },
                                {  y: statuscountarray[1], legendText:statusarray[1], indexLabel: statusarray[1]},
                                {  y: statuscountarray[2], legendText:statusarray[2],exploded: true, indexLabel: statusarray[2]},
                                {  y: statuscountarray[3], legendText:statusarray[3] , indexLabel: statusarray[3]},
                                {  y: statuscountarray[4], legendText:statusarray[4], indexLabel: statusarray[4] },
                                {  y: statuscountarray[5], legendText:statusarray[5] , indexLabel: statusarray[5]},
                                {  y: statuscountarray[6], legendText:statusarray[6] , indexLabel: statusarray[6]}
                            ]
                        }
                    ]
                });
        chart.render();
    } 
    */
    </script>
<!--<div id="chartContainer" style="padding-left:280px;height: 300px; width:50%;"></div>-->

<script>
    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();
</script>
