
  <style type="text/css">
  .bg{

   
  }


input{

    max-width: 20%;
}

  </style>  
  <div class="wrapper"> 
 <div class="row  form-group"  align="middle" >

        
            <h1 class="page-header fontColor">Status of Page Hits</h1>

            <input type="text" id="datePicked" placeholder="Enter a Date" class="form-control">
            <div style="height: 70px;"> </div>
         
        </div>   
          <div class="row">
          <div class="col-md-6 col-md-offset-3" align ="middle">             
           <div id="container"></div>
            </div>
          </div>  
       
    </div>
</div>

<script>
function drawChart(fetchedData) {
  
    temp={};
    for(elem=0;elem<fetchedData.length;elem++){
        if(temp[fetchedData[elem]._id.status_code] == null){
            temp[fetchedData[elem]._id.status_code] = 1;
        }
        else{
            temp[fetchedData[elem]._id.status_code] = temp[fetchedData[elem]._id.status_code]+1;
        }

        }
    statusJson=[
    {
        name:200,
        y:temp[200],
        drilldown:200
    },
    {
        name:202,
        y:temp[202],
        drilldown:202
    },
    {
        name:204,
        y:temp[204],
        drilldown:204
    },
    {
        name:300,
        y:temp[300],
        drilldown:300
    },
    {
        name:301,
        y:temp[301],
        drilldown:301
    },
    {
        name:302,
        y:temp[302],
        drilldown:302
    },
    {
        name:400,
        y:temp[400],
        drilldown:400
    },
    {
        name:401,
        y:temp[401],
        drilldown:401
    },
    {
        name:404,
        y:temp[404],
        drilldown:404
    },
    {
        name:407,
        y:temp[407],
        drilldown:407
    },
    {
        name:408,
        y:temp[408],
        drilldown:408
    },
    {
        name:500,
        y:temp[500],
        drilldown:500
    },
    {
        name:502,
        y:temp[502],
        drilldown:502
    },
    {
        name:407,
        y:temp[407],
        drilldown:407
    }]
        console.log(statusJson);



    // Create the chart
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie',
            backgroundColor: 'rgba(0, 0, 0, 0)'
    
        },
        title: {
            text: 'Website Page Hits Status Codes',
            style: {
                     color: '#FFFFFF',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
        },
        plotOptions: {
            series: {
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y:.1f}%',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },
        series: [{
            name: 'Status',
            colorByPoint: true,
            data: statusJson
        }]
    });
};

    $(document).ready(function () {
        function displayMostVisitedPages(dateString) {
            //$(".mostVisitedPages").show();      
            var url = "/pieForStatusCodeGrouped/" + dateString;
            $.get(url).done(function (data) {
                console.log("Data"+data);
                drawChart(data);

            });
        }


        $("#datePicked").datepicker({
            dateFormat: 'yymmdd',
            onSelect: function (dateText, inst) {
                var dateStringForApi = $(this).val();
                //use this datestring to amke api calls.
                displayMostVisitedPages(dateStringForApi);
            }
        })
    });

    (function () {
        'use strict';

        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(
                    document.createTextNode(
                            '@-ms-viewport{width:auto!important}'
                    )
            );
            document.querySelector('head').appendChild(msViewportStyle)
        }

    })();


</script>


