img {
  border-radius: 50%;
  width: 180px;
  height: 100% !important
}
.container-fluid {
  height: 100%;
  padding: 0px !important
}
.aboutUsPage {
  padding: 0px 65px 0px 15px !important;
}
.alignImages {
  /*vertical-align: middle;
  margin-left: 38px;
  margin-top: 50px;
  margin-right: 20px;
  float: left;*/
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
.alignImages:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.team-member {
  max-width: 200px;
  margin: 70px auto 0px;
  background-color: #222D32;
  padding: 10px;
  text-align: center;
}
.team-member img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #2B383F;
}
.text-center {
  text-align: center;
}
