<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test1">
  <classes>
      <class name="testsuite.MostVisited"/>
    </classes>
    
  </test> <!-- Test1 -->
  
  
  <test name="Test2">
  <classes>
      <class name="testsuite.PieChart"/>
    </classes>
    </test> <!-- Test2 -->
    
    
    <test name="Test3">
  <classes>
      <class name="testsuite.OldData"/>
    </classes>
    </test> <!-- Test3 -->
    
    
    
</suite> <!-- Suite -->
